.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  background-color: var(--light-blue);
  height: 60px;
  padding: 0 30px;
  &__title {
    color: #fff;
    font-size: 24px;
    font-weight: 400;
  }
}
